@tailwind base;
@tailwind components;
@tailwind utilities;


/* For WebKit browsers */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Background of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Round edges */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovered */
}

/* For Firefox */
.scrollbar {
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: #888 transparent; /* Thumb color and track color */
}

.scrollbar:hover {
    scrollbar-color: #555 transparent; /* Thumb color on hover */
}
